<div class="page-header">
  <h3 class="pull-left">添加设备</h3>
  <div class="btn-group pull-right">
  <%= link_to devices_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    返回
  <% end %>
</div></div>

<%= render 'form' %>

<script>
  $('#device_link').addClass('active').siblings().removeClass('active');
</script>