<div class="page-header">
  <h3 class="pull-left">查看运维信息</h3>
  <div class="btn-group pull-right">
  <%= link_to maintenances_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    返回
  <% end %>
  <%= link_to edit_maintenance_path(@maintenance), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    编辑
  <% end %>
</div></div>

<dl class="dl-horizontal">
  <dt>Mdate:</dt>
  <dd><%= @maintenance.mdate %></dd>

  <dt>Location:</dt>
  <dd><%= @maintenance.location %></dd>

</dl>

<script>
  $('#maintenance_link').addClass('active').siblings().removeClass('active');
</script>